<div class="contents">
  <div class="main-contents">
    <div class="manuals_contents">
      
      <h2><span><%= @player.name %></span>のトリセツを編集</h2>
      <div class="manual_form">
        
        <%= form_for [@player, @manual] do |f| %>
          <div class="manual_text fusen">
            <div class="fusen_content">
              <%= f.text_area :text, placeholder: 'この選手のトリセツを編集！' %>
              <div class="posted_user">
                <span>投稿者:</span><%= current_user.name %>
              </div>
              <div class="submit">
                <%= f.submit "更新！", class: 'btn-handwrite' %>
              </div>
            </div>
          </div>
        <% end %>
        
      </div>
      
      <%= link_to '選手ページにもどる', player_path(@player.id) %>
    </div>
  </div>
</div>