<div class="contents">
  <div class="main-contents">
    <div class="players_show_contents">
      
      <div class="player_show title_card">
        <div class="player_data">
          <h1><%= @player.name %><span>のトリセツ</span></h1>
        </div>
        <div class="fusen">
          <div class="fusen_content">
            <p>ポジション：<%= @player.position %></p>
          </div>
          <div class="fusen_content">
            <p>生年月日：<%= @player.birthday %></p>
          </div>
          <div class="fusen_content">
            <p>身長/体重：<%= @player.figure %></p>
          </div>
        </div>
      </div>
      
      <% if user_signed_in? %>
        <div class="post_button">
          <% if user_signed_in? %>
            <% if current_user.club.id == @player.club.id %>
              <%= link_to "トリセツを投稿する！", new_player_manual_path(@player.id), class:"btn-handwrite" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      
      <div class="player_manual fusen">
          
        <% @manuals.each do |manual| %>
          <div class="fusen_content">
            <div class="manual_text" >
              <p><%= manual.text %></p>
            </div>
            <% if user_signed_in? %>
              <div class="manual_data">
                <div class="good">
                  <div class="good_btn">
                    <% if current_user.already_liked?(manual) %>
                      <%= link_to player_manual_like_path(manual_id: manual.id, player_id: manual.player.id), method: :delete do %>
                        <i class='fas fa-thumbs-up good_btn_after'></i>
                      <% end %>
                    <% else %>
                      <%= link_to player_manual_likes_path(manual_id: manual.id, player_id: manual.player.id), method: :post do %>
                        <i class='fas fa-thumbs-up good_btn_before'></i>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="good_count">
                    <%= manual.likes.count %>
                  </div>
                </div>
                <div class="posted_user">
                  <p>投稿者: <span><%= link_to manual.user.name, user_path(id: manual.user.id, class:"user_name") %></span></p>
                </div>
                <% if manual.user.id == current_user.id %>
                  <div class="btn">
                    <%= link_to "編集", edit_player_manual_path(player_id: @player.id, id: manual) %>
                  </div>
                  <div class="btn">
                    <%= link_to "削除", player_manual_path(player_id: @player.id, id: manual), method: :delete %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
        <%= paginate(@manuals) %>
      </div>
      
    </div>
  </div>
</div>