<!DOCTYPE html>
<html>
  <head>
    <title>じぇいとり | みんなでつくる Jのトリセツ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    
  <header class="header">
    <h4 class="title_name"><a href="/">じぇいとり／みんなでつくる Jのトリセツ</a></h4>
    <nav class="menu">
      <ul>
        <li><a href="/">クラブ一覧</a></li>
        <li><a href="users/show">マイページ</a></li>
        <li><a href="/">ログアウト</a></li>
      </ul>
    </nav>
  </header>
  
  <div class="contents">
    <div class="main-contents">
      <%= yield %>
    </div>
    
  <!--  <div class="menu-contents">-->
  <!--    <p>メニューを入れ込むよ</p>-->
  <!--  </div>-->
  </div>
  
  <footer class="footer">
    <p>みんプロ／みんなでつくる Jプロフ</p>
  </footer>
  </body>
</html>
